---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: kube-system
data:
  1password-credentials.json: "{{ lookup('file', onepassword.credentials) | b64encode }}"
  token: "{{ onepassword.token | b64encode }}"
